.containerFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 167px;
  padding: 0 50px;
  position: relative;
  background: var(--background-footer-color);
  h1 {
    color: var(--blue-dark-color);
  }
  img {
    width: 536px;
    height: 248px;
    position: absolute;
    right: 0;
    top: -3.5rem;
    bottom: 0;
  }

  @media (max-width: 1280px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 167px;
    padding: 0 50px;
    position: relative;
    background: var(--background-footer-color);
    h1 {
      font-size: 39px;
    }
    img {
      width: 379px;
      height: 175px;
      position: absolute;
      right: 3rem;
      top: -2.5rem;
      bottom: 0;
    }
  }

  @media (max-width: 768px) {
    height: 115px;
    h1 {
      font-size: 39px;
    }
    img {
      width: 379px;
      height: 175px;
      position: absolute;
      right: 3rem;
      top: -2.5rem;
      bottom: 0;
    }
  }

  @media (max-width: 428px) {
    height: 70px;
    padding: 0 20px;
    h1 {
      font-size: 23px;
    }
    img {
      width: 228px;
      height: 106px;
      position: absolute;
      top: -1.5rem;
    }
  }
}
