.cardContainer {
  width: 266px;
  margin-top: -12rem;
  position: relative;

  .container-img {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    img {
      width: 160px;
      transition: all 0.3s ease; // Transición suave para la imagen
    }
  }

  .card-front {
    background: var(--gradient-card-color);
    height: 270px;
    margin-top: -6rem;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 4px 6px 10px #bfc4cad1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease; // Transición para opacidad y visibilidad
    opacity: 1;
    visibility: visible;

    .content-title {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      margin-top: 6rem;
      p {
        margin: 0;
      }
    }

    .content-information-recipe {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px;
      margin-top: 2rem;
      .information-data-recipe {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        height: 2rem;
        p {
          font-family: poppins;
          color: var(--blue-dark-color);
        }
      }
      div,
      img {
        width: 23px;
        height: 23px;
      }
    }
  }

  .hidden-card {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 266px;
    height: 386px;
    border-radius: 16px;
    background: var(--gradient-card-color);
    box-shadow: 4px 6px 10px #bfc4cad1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0; // Oculta inicialmente
    visibility: hidden; // Oculta del flujo visual
    transition: opacity 0.3s ease, visibility 0.3s ease; // Transición para opacidad y visibilidad
  }

  &:hover {
    .card-front {
      opacity: 0; // Hace que desaparezca suavemente
      visibility: hidden; // Asegura que no interfiera visualmente
    }

    .hidden-card {
      opacity: 1; // Hace que aparezca suavemente
      visibility: visible; // Se hace visible
    }

    .container-img {
      margin-top: -10.3rem;
      img {
        z-index: 5;
      }
    }
  }
}
