.recipe-card-container {
  display: flex;
  flex-direction: column;

  .container-image {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    img {
      position: absolute;
      width: 160px;
      margin-top: -4rem;
      z-index: 5;
    }
  }

  .hover-card {
    position: relative;
    width: 266px;
    height: 270px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    transition: height 0.3s ease-in-out;
    flex-shrink: 0;

    &:hover {
      height: 360px;
    }

    .card {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.2rem;
      color: white;
      transition: opacity 0.3s ease-in-out;

      &.front {
        background-color: #6aa3c1;
        z-index: 2;
        opacity: 1;
      }

      &.back {
        background-color: #425966;
        z-index: 1;
        opacity: 0;
      }

      &:hover {
        &.front {
          background-color: #6aa3c1;
          z-index: 1;
          opacity: 0;
        }

        &.back {
          background-color: #425966;
          z-index: 2;
          opacity: 1;
        }
      }
    }

    .hidden {
      opacity: 0;
    }

    .visible {
      opacity: 1;
      z-index: 3;
    }

    // $small: 576px;
    // $medium: 768px;
    // $large: 1024px;
    // .card {
    //   font-size: 18px;
    //   @media (max-width: $medium) {
    //     .card {
    //       width: 266px;
    //     }
    //   }
    //   @media (max-width: $small) {
    //     font-size: 14px;
    //   }
    // }
  }
}
