.container-image {
  display: flex;
  justify-content: center;
  img {
    width: 160px;
    height: 150px;
    z-index: 5;
    border-radius: 50%;
  }
}

.hover-card {
  position: relative;
  width: 266px;
  height: 270px;
  border-radius: 16px;
  cursor: pointer;
  transition: height 0.3s ease-in-out;
  margin-top: -6rem;
  box-shadow: 4px 6px 10px #bfc4cad1;

  &:hover {
    height: 360px;
  }

  .card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    color: black;
    transition: opacity 0.3s ease-in-out, z-index 0.3s ease;
    border-radius: 16px;

    &.front {
      background: var(--gradient-card-color);
      z-index: 2;
      opacity: 1;
      transition: opacity 0.3s ease-in-out;

      .card-front {
        height: 6.5rem;
      }

      .card-front-content {
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
        opacity: 1;
        visibility: visible; // Visible por defecto
        .card-front-content-title {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;
          h3 {
            margin: 0;
            padding: 0;
          }
        }
        .card-front-content-icons {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 20px;
          margin-top: 4rem;
          .card-front-content-icons-item {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
          }
        }
      }
    }

    &.back {
      background: var(--gradient-card-color) !important;
      z-index: 1;
      opacity: 0;

      .card-back {
        //border: 1px solid red;
        height: 6.5rem;
      }

      .card-back-content {
        .card-back-content-item {
          display: flex;
          justify-content: center;
          flex-direction: column;
          margin-bottom: 1rem;
          img {
            margin: auto;
          }
          .font-back-card-text {
            text-align: center;
            p {
              margin: 0;
            }
          }
        }
      }
    }
  }

  &:hover {
    .card.front {
      opacity: 0; // Oculta toda la tarjeta frontal
      z-index: 1;

      .card-front-content {
        opacity: 0; // Oculta el contenido de la tarjeta frontal
        visibility: hidden; // Asegura que no sea accesible
      }
    }

    .card.back {
      opacity: 1;
      z-index: 2;
    }
  }

  @media (max-width: 428px) {
    width: 180px;
    height: 182px;
    margin-top: -4rem;
    .card {
      &.front {
        .card-front {
          height: 4.5rem;
        }
        .card-front-content {
          .card-front-content-title {
            h3 {
              font-size: 1rem;
            }
          }
          .card-front-content-icons {
            margin-top: 2rem;
            .card-front-content-icons-item {
              gap: 0.3rem;
            }
          }
        }
      }
      &.back {
        .card-back {
          height: 4.5rem;
        }
      }
    }
  }
}
