.card {
  background: var(--white-color);
  // border: 1px solid red;
  height: 323px;
  width: 266px;
  margin-top: 2rem;
  margin-bottom: 9rem;
  // overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .contain-information {
    background: var(--background-gradient-card-color);
    height: 270px;
    width: 266px;
    border: 1px solid green;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: height 0.3s ease;

    img {
      position: absolute;
      top: -3.3rem;
    }
  }
}

.information {
  margin-top: 5.3rem;
}

.container-information-recipie {
  display: flex;
  flex-direction: column; /* Asegura que las tarjetas estén en columna */
  align-items: center;
  gap: 1rem; /* Espaciado entre los elementos */
  padding: 1.5rem 0;

  .info-item {
    display: flex;
    flex-direction: column; /* Organiza ícono y texto en columna */
    align-items: center;
    justify-content: center;
    gap: 0.5rem; /* Espaciado entre ícono y texto */
    text-align: center;

    img {
      width: 24px;
      height: 24px;
    }

    .font-back-card-text {
      font-family: "Poppins", sans-serif;
      font-size: 0.9rem;
      color: #d84a4a;
      margin: 0;
    }

    .font-back-card-text-recipe {
      font-family: "Roboto", sans-serif;
      font-size: 0.8rem;
      color: #425966;
      margin: 0;
    }
  }
}
