.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--white-color);
  height: 69px;
  padding: 0 50px;
  .titleApp {
    display: flex;
    align-items: center;
    h1 {
      font-size: 40px;
      color: var(--blue-dark-color);
    }
    span {
      font-size: 30px;
      color: var(--red-color);
    }
  }
}
