.newRecipes {
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    margin-top: 24px;
    height: 67px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px;
    h3 {
      font-size: 67px;
      color: var(--red-color);
    }
  }
}

.container-recipe {
  width: 50rem;
  border: 1px solid green;
  overflow: auto;
  display: flex;
  gap: 18rem;
}
