.title {
  padding-left: 5rem;
  h3 {
    font-size: 67px;
    color: var(--red-color);
    margin: 0;
  }

  @media (max-width: 768px) {
    h3 {
      font-size: 54px;
    }
  }

  @media (max-width: 1280px) {
    margin-top: 1rem;
  }
}

.newRecipes {
  display: flex;
  flex-direction: column;
  align-items: center;

  .container-recipe {
    // width: 80rem;
    display: flex;
    gap: 1.5rem;
    margin-top: 2.5rem;
    height: 27rem;
  }

  @media (max-width: 1280px) {
    .container-recipe {
      margin-top: 2.5rem;
      height: 27rem;
    }
  }

  @media (max-width: 768px) {
    .container-recipe {
      width: 38rem;
      max-height: 50svh;
      display: flex;
      gap: 18rem;
      overflow-x: auto;
    }

    .container-recipe::-webkit-scrollbar {
      width: 0;
    }
  }
}
