.sectionRecipes {
  display: flex;
  flex-direction: column;
  position: relative;

  h3 {
    margin: 0;
    margin-top: 1rem;
    padding-left: 5rem;
  }

  .container-recipe {
    border: 1px solid red; // Para depuración
    width: 100%; // El contenedor ocupa todo el ancho de su padre
    height: 450px; // Ajusta la altura automáticamente según el contenido
    margin: 0 auto;
    margin-bottom: 2rem;
    display: flex; // Flexbox para diseño horizontal
    justify-content: center; // Alinea las tarjetas al inicio
    gap: 1rem; // Espacio horizontal entre tarjetas
    box-sizing: border-box;
    overflow-x: auto; // Habilita desplazamiento horizontal
    white-space: nowrap; // Fuerza las tarjetas a estar en una sola fila
    padding-bottom: 1rem; // Espacio adicional debajo del contenedor

    .hover-card {
      flex: 0 0 auto; // Impide que las tarjetas se reduzcan de tamaño
      width: 266px;
      height: 270px;
      margin-right: 1rem; // Espacio explícito entre tarjetas
      border: 1px solid blue; // Para depuración
    }
  }

  @media (max-width: 767px) {
    .title-sectio {
      font-size: 50px;
    }
    .container-recipe {
      border: 1px solid green; // Para depuración
      width: 90%; // Mantiene el ancho del contenedor en móviles
      height: 450px;
      display: flex;
      justify-content: start; // Las tarjetas se alinean al inicio
      gap: 1rem;
      //white-space: nowrap; // Evita saltos de línea en las tarjetas
      overflow-x: auto; // Habilita el desplazamiento horizontal

      &::-webkit-scrollbar {
        display: none; // Oculta la barra de desplazamiento en navegadores basados en WebKit
      }
    }

    .hover-card {
      flex: 0 0 auto; // Impide que las tarjetas cambien de tamaño
      width: 266px;
      height: 270px;
    }
  }

  @media (max-width: 428px) {
    margin-top: 5rem;
    .title-section {
      font-size: 20px;
    }
  }
}
