:root {
  --white-color: #ffffff;
  --blue-light-color: #c2e3f3;
  --blue-medium-color: #6aa3c1;
  --white-transparent-color: #a9a9a911;
  --grey-medium-color: #8395a7;
  --red-color: #d84a4a;
  --blue-dark-color: #425966;
  --blue-color: #e9f1fa
  --shadow-color: #BFC4CAD1;
  --background-footer-color: linear-gradient(180deg, #c2e3f3, #6aa3c1);
  --border-radius: 16px
}

.app {
  background-color: var(--white-color);
}

@import "./typography.scss";
