:root {
  --white-color: #ffffff;
  --blue-light-color: #c2e3f3;
  --blue-medium-color: #6aa3c1;
  --white-transparent-color: #a9a9a911;
  --grey-medium-color: #8395a7;
  --red-color: #d84a4a;
  --blue-dark-color: #425966;
}

.app {
  background-color: var(--white-color);
}

@import "./typography.scss";
