@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "Monster Clubhouse";
  src: local("MonsterClubhouse"),
    url("/fonts/MonsterClubhouse.woff2") format("woff2"),
    url("/fonts/MonsterClubhouse.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.primari-m-title {
  font-family: "Monster Clubhouse";
  --color: var(--blue-color);
  --font-weight: 400;
  --font-size: 67px;
  font-size: var(--font-size);
  color: var(--color);
  font-weight: var(--font-weight);
}

.primiari-p-title {
  font-family: "Poppins", serif;
  --color: var(--white-color);
  --font-weight: 400;
  --font-size: 74px;
  font-size: var(--font-size);
  color: var(--color);
  font-weight: var(--font-weight);
}

.secundari-m-title {
  font-family: "Monster Clubhouse";
  --color: var(--blue-color);
  --font-weight: 400;
  --font-size: 67px;
  font-size: var(--font-size);
  color: var(--color);
  font-weight: var(--font-weight);
}

.font-card-title {
  font-family: "Poppins", serif;
  --color: var(--red-color);
  --font-weight: 400;
  --font-size: 30px;
  font-size: var(--font-size);
  color: var(--color);
  font-weight: var(--font-weight);
}

.font-card-title-recipe {
  font-family: "Monster Clubhouse", serif;
  --color: var(--red-color);
  --font-weight: 400;
  --font-size: 30px;
  font-size: var(--font-size);
  color: var(--color);
  font-weight: var(--font-weight);
}

.font-back-card-text {
  font-family: "Monster Clubhouse", serif;
  --color: var(--red-color);
  --font-weight: 400;
  --font-size: 17px;
  font-size: var(--font-size);
  color: var(--color);
  font-weight: var(--font-weight);
}

.font-back-card-text-recipe {
  font-family: "Poppins", serif;
  --color: var(--blue-dark-color);
  --font-weight: 400;
  --font-size: 15px;
  font-size: var(--font-size);
  color: var(--color);
  font-weight: var(--font-weight);
}

.nav-item-font {
  font-family: "Poppins", serif;
  --color: var(--blue-dark-color);
  --font-weight: 400;
  --font-size: 13px;
  font-size: var(--font-size);
  color: var(--color);
  font-weight: var(--font-weight);
}
