.banner {
    background: url('/assets/banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    opacity: 1;

    div {
        position: absolute;
        left: 16rem;
        top: 9rem;
        display: flex;
        flex-direction: column;
        h2{
            font-size: 74px;
            margin: 0;
            opacity: 1;
        }
        span {
            position: absolute;
            font-size: 67px;
            top: 60px;
            left: 1px;
        }
    }
}